body{
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
.navbar{
    width: 100%;
    color: #fff;
    background-color:orange;
    height: 60px;
}
.navbar .container{
    margin:0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    padding-right: 20px;
}
.logo img{
    width: 8%;
    float: left;
    
}
nav{
    display: flex;
}
nav ul{
    display: flex;
    margin-right: 5px;
}
nav ul li{
    list-style: none;
}
nav ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 15px;
    font-weight: 700;
    margin: 0 10px;
}
nav ul li a:hover{
    color: tomato;
}
.navbar .button a{
    text-decoration: none;
    background-color: #fff;
    color: #456d96;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 15px;
}
.navbar .button a:hover{
    background-color: tomato;
}
h1{
    font-size: 50px;
}
.flexible-container{
    display: flex;
    margin-bottom: 100px;
    text-align: justify;
}
.header-section{
    width:50%;
    margin:0;
}
#header{
    margin-top: 5%;
    padding-left: 10%;
}
.header-section img{
    width: 80%;
    padding-left: 5%;
}
#about-image img{
    width: 80%;
    height: 500px;
    margin: 15% 20%;
}
#about-me{
    margin: 5% 5% 0% 20%;
}
.about-section{
    background-image: url(images/7.png);
    background-repeat: no-repeat;
    background-size: 100%;
    margin: 0%;   
}
#special-word{
    color: orangered;
}
.link-btn{
    background-image: linear-gradient(to right, orange,tomato);
    text-decoration: none;
    color: white;
    font-weight: 700;
    border-radius: 20px;
    padding: 20px 40px;
    border: 1px solid tomato;
}

.my-reciepe-item{
    box-shadow: 10px 10px 25px rgb(124, 123, 123);
    width: 25%;
    height: 500px;
    border-radius: 5%;
    margin: 3% 5%;
    padding:3%;
}
.my-reciepe-item img{
    height: 200px;
    width: 100%;
}
.reciepe-header{   
    text-align: center;
    margin: 0 30%;
}
.my-reciepe-item h3{
    font-size: 25px;
    text-align: center;
    margin-top: 10px;
}
.my-reciepe-item p{
    text-align: justify;
    font-size: 20PX;
}
.transform-item{
    transition: 0.5s;
}
.transform-item:hover{
    transform: scale(1.005);
}

.div{
    border: 15px solid white;
    border-radius: 20px;
    box-shadow: 10px 10px 40px gray;
    margin: 0 5%;
}
.box-1{
    width: 70%;
    margin: 0 auto;
    padding-top: 10px;
    text-align: center;
}


.div-item{
    margin: 0;
    padding: 0 100px;
}

.feedback{
    text-align: center;
    margin-bottom: 50px;
    margin-top: 100px;
}
.input-type input{
    padding: 15px 3px;
    border: 2px solid #ccc;
    margin-left: 5px;
}
.input-type textarea{
    padding: 15px 3px;
    border: 2px solid #ccc;
    margin-left: 5px;
}
.submit-button{
    background-color: green;
    border: 2px solid green;
    color: white;
    border-radius: 3px;
    padding: 8px;
    margin-top:5px;
    text-decoration: none;
}


.top-footer{
	width: 100%;
	height: auto;
	margin: auto;
	background:#272727;
	padding: 20px 0px;
    text-align: center;
    color: white;
	
}
#sp-word{
    color: tomato;
}

footer .footer-end p{
	font-size: 16px;
	text-align: center;
	color: #fff;
	font-weight: bold;
	letter-spacing: 2px;

}

